// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
//$blue: #3490dc;
$blue: #0090e7;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//yeni yapılan renk
$gray: #e0ebeb;

$grid-gutter-width: 10px;

// dark theme

$body-bg: #f2f2f2;

$dark-bg-color: #303030;
$dark-text-color: #777;
$dark-card-color: #212121;
$dark-card-text-color: #a4a4a4;

$input-bg: #303030;
$input-color: #a4a4a4;


